# Data Structures and Processing

## Week 8: Data Wrangling with Pandas

### Remarks:

1. Press the `install requirements` button above to install the required packages.  See the `requirements.txt` for list of packages to be installed.

2. Make sure that you are following the conventions.  For examples, `import pandas as pd`, which imports pandas packages and sets the abbreviation for it.

3. Do not import the packages without the short names.  Doing so might lead to a namespace conflict, or unintended uses of functions coming from two libraries as a part of different implementations.

4. We are assigning `None` to variables and use `pass` in the body of the functions, where we expect a solution from you.  Please replace these values and statements with your solution.

The exercises in this notebook are aligned with the material provided for the lecture.

### Load Libraries

In [1]:
import numpy as np
import pandas as pd

## MultiIndex

### Task 1

Consider the `json` file named `entertain.json`(attached) and read it into a variable `df1` using the function `pd.read_json`.

In [2]:
# Reading the file using this function only requires the name of the file since it is in the same location.
df1 = pd.read_json('entertain.json')

In [3]:
assert df1.shape == (8, 6)

### Task 2

We want to change the index of the imported `DataFrame`. More specifically, we would like to have two indexes.  The two indexes come from the columns named `"rating"` and `"stars"`.

Define a new `DataFrame` by the name `df2` where `"rating"`and `"stars"` are indexes.

In [4]:
# Using set_index on df1 and storing result in df2.
df2 = df1.set_index(['rating', 'stars'])

In [5]:
assert df2.index[0] == ('PG-13', 7.5)

### Task 3

In the `DataFrame` named `df2`, defined above, we have two indexes: `"rating"` and `"stars"`, and *in this order*.  We want to change

1. their order so that `"stars"` is the first index and `"ratings"` is the second one. You might want to use `swaplevel`.
2. their case, i.e., make names of index columns upcase.

Define a new `DataFrame` by the name `df3`, which is the same as `df2`, except that the indexes are swapped and they are in upcase form.

In [6]:
# Swapping the levels and then renaming them. Could also be done the opposite way but
# since it was asked this way I did it this way.
df3 = df2.swaplevel('rating', 'stars').rename_axis(['STARS', 'RATING'])

In [7]:
assert df3.index.names == ['STARS', 'RATING']

### Task 4

We have now data with two indexes. Let us say that we do not need this indexing, and furthermore, we would like to recover the data to a form where it was as it was imported into a `DataFrame`.  There are three ways to do it:

1. One is to keep the data stored in a separate variable and define a new variable with the new indexes.  This might lead to a memory problem, when huge data is read into a `DataFrame`.

2. Reread the data from the file into the desired variable again.

3. Use the builtin function for reseting indexing in `pandas`.

Use the third method above to reset index of the data stored in `df3` and put it in variable `df4` (we do not desire to modify the existing variable).

In [8]:
# Using reset_index() on df3 and storing result in df4. 
df4 = df3.reset_index()

In [9]:
assert len(df4.columns) == 6

### Task 5

Recall from the beginning of this set of exercises that we have imported data from a `json` file.  The data that is in hierarchical form is usually stored in this format.  There are other ways to store such data too, for example as an `xml` format, to name only another one beside `json`.  You might have noticed as we have imported the data that it was presented in a tabular format, and it was done by assigning some `NaN` value to some of the entries, because the corresponding values were missing.  For example, the `"Quiz Show"` has `"genre"` `NaN`.  Compare it with the json file, where `"Quiz Show"`, does not have any value for `"genre"`.

Recall that in `pandas`, tabular data can be converted into a hierarchical data using the `stack()` method.

Create a new `DataFrame`, called `df5`, from `df3` and use the method `stack()` to present it in hierarchical form.

In [10]:
# Using stack() on df3 and storing result in df5. 
df5 = df3.stack()

In [11]:
assert df5.index[0] == (7.5, 'PG-13', 'title')

### Task 6

Consider the hierarchical `DataFrame` `df5`, and filter it down to all the entries with `"rating"` `"PG-13"`.  Store the result in the variable `df6`.

In [12]:
# Filtering df5 to include entries where the second level of 'RATING' is "PG-13"
# The slice(None) indicates that we do not filter the other levels.
df6 = df5.loc[(slice(None), 'PG-13', slice(None))]

In [13]:
assert len(df6) == 11

### Task 7

Let us consider a case, where we are given two `DataFrame`s with `MultiIndex`, we would like to merge them using a column as a reference.  There are several different functions available in `pandas` for such a purpose.

Let us define two variable `df71` and `df72`.  These `DataFrame`s help us demonstrate what is stated above.  In practice, the two `DataFrame`s may come from different sources unlike how we have defined them.

Define a variable `df7`, which contains a merge of `df71` and `df72` on the column `"title"`.  Make sure that the returned table has the `MultiIndex` inherited and it is not stripped away. You can do in by resetting index and setting it back after merge or by using `combine_first` function.

In [14]:
# This part is given code:
df71 = df2[["title", "duration"]]
df72 = df2[["genre", "title"]]

# Ensure both have 'title'.
df71_i = df71.set_index('title', append=True)
df72_i = df72.set_index('title', append=True)

# Combining df71_i and df72_i using combine_first as advised and storing it in df7.
df7 = df71_i.combine_first(df72_i)

# Resetting the 'title' from the index.
df7 = df7.reset_index(level='title')

In [15]:
assert df7.index.names == ['rating', 'stars']
assert df7.shape == (8, 3)

### Task 8 (Bonus)

Consider the file `taxi.csv` in the attachment. Your task is to follow the discussion in the section "Reshaping and Pivoting", using the data in this file.

Explain what goes wrong. You could write your remarks as comments or in new blocks.

In [16]:
# Since it says Bonus. I decided to not do it this time.